[submodule "publications"]
	path = publications
	url = https://github.com/pike00/Publications.git
	branch = master
[submodule "blog-posts"]
	path = blog-posts
	url = https://github.com/pike00/blog.git
