---
import SEO from "../components/SEO.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: string;
}

const { title, description, image, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <SEO title={title} description={description} image={image} type={type} />
    <script
      data-goatcounter="https://pikemd.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
      is:inline
    ></script>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>

<script is:inline>
  (function() {
    var stored = localStorage.getItem("theme");
    var prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    if (stored === "dark" || (!stored && prefersDark)) {
      document.documentElement.classList.add("dark");
    }
  })();
</script>
